<div class="container mt-5 text-center">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <h1 class="display-4">Magic Card Explorer</h1>
  <p class="lead">Scopri le carte Magic più incredibili!</p>
  <hr>
  <div class="d-flex justify-content-center gap-3 mt-4">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" routerLink="/search">Cerca</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/catalog">Catalogo</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/card/jeweled-lotus">Jeweled Lotus</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/card/black-lotus">Black Lotus</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/card/time-walk">Time Walk</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/card/mox-emerald">Mox Emerald</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/card/ancestral-recall">Ancestral Recall</a></li>
  </ul> 

  </div>
</div>
<router-outlet></router-outlet>
